@use "colors" as colors;
@use "variables" as var;

.article {
  grid-column: 3 / span 8;

  &__info {
    margin-bottom: 2em;
  }

  h1,
  h2,
  h3 {
    font-family: "DM Serif Display", serif;
  }

  h1 {
    font-size: 2em;
    margin: 4em 0 0.5em;
    @include var.highlight(colors.$lightGreen);
  }

  h2 {
    font-size: 1.5em;
    @include var.highlight(colors.$lightGreen);
  }

  h3 {
    font-size: 1em;
    @include var.highlight(colors.$lightGreen);
  }

  a {
    @include var.highlight;
  }

  p {
    line-height: 1.4;
  }
}
