$serif: "DM Serif Display", serif;

$green: #006d77;
$lightGreen: #83c5be;
$lightGray: #edf6f9;
$lightOrange: #ffddd2;
$orange: #e29578;

$lightBlue: #cfe7ff;
$grayBlue: #98afc7;

$accentGreen: #73dac9;
$accentBlue: #00b9ff;

$darkBlue: #5a6278;
$darkGreen: #2f4858;
