@use "colors" as colors;
@use "variables" as var;

.highlight {
  @include var.highlight(colors.$lightOrange);

  &_lightGreen {
    @include var.highlight-color(colors.$lightGreen);
  }

  &_grayBlue {
    @include var.highlight-color(colors.$grayBlue);
  }

  &_accentBlue {
    @include var.highlight-color(colors.$accentBlue);
  }

  &_hover {
    cursor: pointer;
    &::before {
      opacity: 0;
      transform: translateY(0.125em);
      transition: transform 1s ease-out, opacity 0.3s ease-out;
    }
    &:hover {
      &::before {
        opacity: 1;
        transform: translateY(0);
        animation-duration: 3s;
        animation-name: highlight-puls;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-delay: 2s;
        transition: transform 1s ease-out, opacity 0.25s ease-in-out;
      }
    }
  }
}

@keyframes highlight-puls {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(2px);
  }

  50% {
    transform: translateY(0);
  }

  75% {
    transform: translateY(-2px);
  }

  100% {
    transform: translateY(0);
  }
}

.headline {
  grid-column: 4 / span 6;
  font-size: 2em;
  margin: 4em 0;
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.placeholder {
  width: 100%;
  height: 300px;
  background-color: lightgray;
}

.type-2x {
  font-size: 2em;
}
