@use "colors" as colors;

.tile {
  display: flex;
  flex-direction: column;
  // justify-self: center;

  &_horizontal {
    flex-direction: row;
    grid-column: span 6;
    padding: 2em;

    & > .image {
      margin: 0;
    }

    & > .content {
      margin: 1.5em;
      flex: 1 1 auto;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;

    & > * {
      margin-bottom: 0.5em;
    }
  }

  &__footer {
    display: none;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__date {
    font-size: 0.875em;
    color: colors.$darkBlue;
  }

  &__subtitle {
    font-size: 0.75em;
    color: colors.$green;
  }

  &__image {
    width: 150px;
    height: 150px;
    background: rgb(248, 245, 245);
    margin-bottom: 1em;
    object-fit: cover;
    flex: 0 0 auto;
  }
}
