@use 'colors' as colors;

@mixin highlight($color: colors.$lightBlue) {
  position: relative;
  display: inline-block;
  z-index: 0;
  &::before {
    content: "";
    position: absolute;
    left: -0.125em;
    right: -0.125em;
    bottom: 0.125em;
    height: 0.25em;
    z-index: -1;
    background: $color;
  }
}

@mixin highlight-color($color: colors.$lightBlue) {
  &::before {
    background: $color;
  }
}
